@charset "utf-8";

@import 'utilities/variables';

@import 'utilities/animations';

* {
	box-sizing: border-box;
	&::before, &::after {
		box-sizing: border-box;
	}
}

html {
	overflow-y: scroll;
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	line-height: 1.6em;
	width: 100%;
	height: auto;
	min-height: 100%;
	max-width: 1920px;
	overflow-x: hidden;

	&.overflown {
		overflow: hidden;
	}

	@media (max-width: 1199px) {
		font-size: 13px;
	}

	@media (max-width: 991px) {
		font-size: 12px;
	}

	@media (max-width: 767px) {
		font-size: 11px;
	}

	@media (max-width: 450px) {
		font-size: 10px;
	}
}

body {
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	line-height: 1.6em;
	width: 100%;
	height: auto;
	min-height: 100%;
	max-width: 1920px;
	overflow-x: hidden;
}

#hideAll {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: white;
	z-index: 99;
	/* Higher than anything else in the document */
	/*
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	*/

	.loader {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		margin: 0 auto;

		border: 8px solid #ddd;
		border-top: 8px solid #ff9c10;
	}
}

.loader {
	border: 12px solid #f3f3f3; /* Light grey */
	border-top: 12px solid #1b0a40;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;

	&.loading_ajax.global_ajax_loader {
		position: fixed;
		width: 32px;
		height: 32px;
		bottom: 6px;
		left: 6px;
		border: 4px solid #f3f3f3;
		/* Light grey */
		border-top: 4px solid #1b0a40;
	}
}

.hidden {
	display: none;
}

.inline * {
	display: inline-block;

	&:last-child {
		margin-right: 0;
	}
}

.pushright li {
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}

.borderedbox {
	border: 1px solid;
}

.overlay {
	position: relative;
	&::after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
		z-index: -1;
	}
}

.bgded {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.circle {
	border-radius: 50%;
	background-clip: padding-box;
}

.btn {
	display: inline-block;
	padding: 15px 25px 17px;
	text-transform: uppercase;
	border: 1px solid;
}

.center-mrg {
	margin-left: auto;
	margin-right: auto;
}

.align-middle {
	vertical-align: middle;
}

/* general classes */

.margin-vertical {
	margin: 20px 0;

	&.medium {
		margin: 40px 0;
	}
}

.padding-horizontal {
	&.medium {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.inline-block {
	display: inline-block;
}

.no-float {
	float: none;
}

.clear, .group {
	display: block;
}

.clear {
	&::before, &::after {
		display: table;
		content: "";
	}
}

.group {
	&::before, &::after {
		display: table;
		content: "";
	}
}

.clear, .group {
	clear: both;
	&::after {
		clear: both;
	}
}

a {
	outline: none;
	text-decoration: none;
	&:hover, &:active {
		outline: none;
		text-decoration: none;
	}
}

.fl_left, .imgl {
	float: left;
}

.fl_right, .imgr {
	float: right;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}

.imgl {
	margin: 0 15px 10px 0;
	clear: left;
}

.imgr {
	margin: 0 0 10px 15px;
	clear: right;
}

/* FULL HEIGHT SECTIONS */

div, section, article {
	&.screen-height {
		min-height: 100vh;
		height: calc(100%);
		height: 100%;
	}

	&.darkened {
		background-color: #f1f1f1;
		border: 1px solid #ddd;
	}
}

/* Custom */

.overlay::after {
	color: inherit;
	background-color: rgba(0, 0, 0, 0.65);
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

/* Typography
--------------------------------------------------------------------------------------------------------------- */

@import 'utilities/_typography';

/* --------------------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------- HEADER -------------------------------------------------------- */

body {
	padding-top: 50px;
	margin-bottom: $sticky_footer_height; //100px;

	@media (max-width: 991px) {
		margin-bottom: $sticky_footer_height * 2; //200px;
	}
}

/* -------------------------------------------------------- /HEADER -------------------------------------------------------- */

/* -------------------------------------------------------- FOOTER -------------------------------------------------------- */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $sticky_footer_height; //100px;
	overflow: hidden;
	background-color: #212121;

	@media (max-width: 991px) {
		height: $sticky_footer_height * 2; //200px;
	}
}

/* -------------------------------------------------------- /FOOTER -------------------------------------------------------- */

.noscript-warning {
	padding: 20px 10%;
	background-color: #d02323;
	background-image: url(../images/els/bg-warning.png);
	p {
		margin: 0;
		padding: 10px 15px;
		text-align: center;
		font-size: 140%;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.2);
	}
}

#backtotop {
	z-index: 2;
	display: inline-block;
	position: fixed;
	visibility: hidden;
	bottom: 20px;
	right: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	text-align: center;
	opacity: 0.2;
	text-decoration: none;
	outline: none;
	transition: all .2s ease-in-out 0s;
	color: #fff;
	background-color: #ff9c10;
	i {
		display: block;
		width: 100%;
		height: 100%;
		line-height: inherit;
	}
	&.visible {
		visibility: visible;
		opacity: 0.5;
		&:hover {
			visibility: visible;
			opacity: 1;
		}
	}
}

/* 5 Columns */

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

.col-xs-offset-20, .col-xs-offset-80 {
	margin-left: 20%;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
	.col-sm-offset-20 {
		margin-left: 20%;
	}
	.col-sm-offset-80 {
		margin-left: 80%;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
	.col-md-offset-20 {
		margin-left: 20%;
	}
	.col-md-offset-80 {
		margin-left: 80%;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
	.col-lg-offset-20 {
		margin-left: 20%;
	}
	.col-lg-offset-80 {
		margin-left: 80%;
	}
}

/* /5 Columns */


/* ------------------------ ALIGNER ------------------------ */

.aligner {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* ------------------------ /ALIGNER ------------------------ */

/* ------------------------ FLIPPER ------------------------ */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	/* flip the pane when hovered */
	/* .flip-container:hover .flipper, */
	&.hover .flipper {
		transform: rotateX(180deg);
		transition-delay: 0s;
	}
	width: 100%;
	height: auto;
}

.flipper {
	.front, .back {
		width: 100%;
		height: auto;
	}
	/* flip speed goes here */
	transition: 0.6s;
	transition-delay: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	height: 100%;
	min-width: 100px;
	min-height: 100px;
	/* hide back of pane during swap */
	.front, .back {
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
	/* front pane, placed above back */
	.front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateX(0deg);
	}
	/* back, initially hidden pane */
	.back {
		transform: rotateX(180deg);
	}
}

/* ------------------------ /FLIPPER ------------------------*/

@media (min-width: 1600px) {
	.container {
		width: 1400px;
	}
}

@media (min-width: 992px) {
	.margin-vertical.medium.mobile {
		margin: 30px 0;
	}
	.margin-on-mobile {
		margin: 15px 0 !important;
	}
}

@media (max-width: 767px) {
	.no-margin-mobile {
		margin: 0 !important;
	}
	.no-padding-mobile, .padding-horizontal.no-padding-mobile, .padding-vertical.no-padding-mobile {
		padding: 0;
	}
}