body {
	background-color: #fff;
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: #000;
}

input, textarea, select {
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: #000;
}

div.bged, section.bged, article.bged {
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

div.bged::before, section.bged::before, article.bged::before {
	content: '';
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 1;
}

div.bged.bgcolor_transparent::before, section.bged.bgcolor_transparent::before, article.bged.bgcolor_transparent::before {
	content: none;
}

div.bged.bgcolor1::before, section.bged.bgcolor1::before, article.bged.bgcolor1::before {
	background: rgba(0, 0, 0, 0.6);
}

div.bged.circle::before, section.bged.circle::before, article.bged.circle::before {
	border-radius: 50%;
}

img.lazy {
	background-color: transparent;
	display: none;
}

/* -------------------------------------------------------- HEADER -------------------------------------------------------- */

header {
	z-index: 10;
}

.alert-success, .alert-warning, .alert-danger {
	background-image: none;
	border-radius: 0;
}

/* ---------------------------- NAVBAR ---------------------------- */

nav.navbar {
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
	box-shadow: none;
	background: transparent;
	border: none;
	transition: ease-in-out 0.2s;
}

.navbar-default {
	.navbar-collapse, .navbar-form {
		border: none;
	}
	&.background {
		.navbar-collapse, .navbar-form {
			border-top: solid 1px #e7e7e7;
		}
	}
}

.nav > li > a {
	padding: 10px 20px;
}

.navbar-nav {
	margin: 0;
	&.background {
		margin: 7.5px -15px;
	}
}

.navbar-brand {
	padding: 5px;
	> img {
		max-height: 40px;
	}
}

@media (min-width: 992px) {
	nav.navbar.background.shrinked {
		background: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 991px) {
	nav.navbar.background {
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
		background: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-brand > img {
		max-height: 30px;
	}
	.navbar-right {
		float: none !important;
		margin-right: 0;
	}
}

/* a text */

.navbar-default {
	.navbar-nav > li > a {
		color: #fff;
		font-weight: 700;
		text-shadow: none;
		transition: ease-in-out 0.2s;
		&:focus {
			color: #fff;
			font-weight: 700;
			text-shadow: none;
			transition: ease-in-out 0.2s;
		}
	}
	&.background .navbar-nav > li > a {
		color: #212121;
		&:focus {
			color: #212121;
		}
	}
	.navbar-nav {
		li:hover > a {
			color: #fff;
		}
		a {
			&:focus, &:hover {
				color: #fff;
				background: #ff9c10;
			}
		}
		> {
			.active > a {
				color: #fff;
				background: #ff9c10;
				&:focus, &:hover {
					color: #fff;
					background: #ff9c10;
				}
			}
			.open > a {
				color: #fff;
				background: #ff9c10;
				&:focus, &:hover {
					color: #fff;
					background: #ff9c10;
				}
			}
		}
	}
}

/* li bg */

.navbar-nav > li {
	background-color: #3F88C5;
	transition: ease-in-out 0.2s;
	&.color_1 {
		background-color: #4CB944;
	}
	&.color_2 {
		background-color: #F06543;
	}
	&.color_3 {
		background-color: #042A2B;
	}
	&.color_4 {
		background-color: #2F4858;
	}
	&.color_5 {
		background-color: #FF206E;
	}
	&.color_6 {
		background-color: #4B4E6D;
	}
	&.color_7 {
		background-color: #B6174B;
	}
	&.active {
		background-color: #ff9c10;
	}
}

/* backgrounds */

/* -- */

.navbar-default .navbar-nav > {
	li:hover {
		background-color: #ff9c10;
	}
	.active > a, .open > a {
		background-image: none;
		background-color: #ff9c10;
		box-shadow: none;
		color: #fff;
	}
}

/* dropdown */

.dropdown-menu > li {
	> a:focus, &:hover {
		background-color: #ff9c10;
		background-image: none;
	}
	> a {
		&:focus, &:hover {
			background-color: transparent;
			background-image: none;
		}
	}
}

.navbar-default .navbar-nav > .open {
	background-color: #ff9c10;
	> a {
		color: #fff;
		background-color: transparent;
		&:focus, &:hover {
			color: #fff;
			background-color: transparent;
		}
	}
}

.navbar-nav .open .dropdown-menu {
	padding: 0;
	background-color: #fff;
	border: none;
	border-radius: 0;
}

.dropdown-header, .dropdown-menu > li > a {
	padding: 8px 20px;
}

/* flags */

.flag-icons img, .nav li.flag-icons > a > img {
	max-width: 24px;
}

/* mobile */

@media (min-width: 992px) {
	.navbar-nav .navbar-default .navbar-nav > li a {
		padding-left: 1em;
		padding-right: 1em;
	}
	nav.navbar {
		&.navbar-default .navbar-nav {
			> li > a {
				color: #fff;
			}
			li {
				&:hover > a, &:active > a {
					color: #fff;
				}
			}
		}
		&.background.shrinked.navbar-default .navbar-nav > li a {
			color: #212121;
		}
		&.navbar-default .navbar-nav > li {
			&:hover > a, &.active > a, &.open > a {
				padding-bottom: 25px;
				color: #fff;
			}
		}
		&.background.shrinked.navbar-default .navbar-nav {
			> li {
				&:hover > a, &.active > a {
					padding-bottom: 25px;
					color: #fff;
				}
			}
			li.open {
				> a, .dropdown-menu li:hover a {
					padding-bottom: 25px;
					color: #fff;
				}
			}
		}
	}
	/* backgrounds */
	/*
	nav.navbar.navbar-default .navbar-nav > li.color_7 > a {
		color: #212121;
	}
	*/
	/* -- */
}

@media (max-width: 767px) {
	.navbar-default {
		&.background .navbar-nav .open .dropdown-menu > li > a {
			color: #212121;
		}
		.navbar-nav .open .dropdown-menu > li > a {
			&:focus, &:hover {
				color: #fff;
				background-color: #ff9c10;
			}
		}
	}
}

/* ---------------------------- /NAVBAR ---------------------------- */

/* -------------------------------------------------------- /HEADER -------------------------------------------------------- */

/* -------------------------------------------------------- CONTENT -------------------------------------------------------- */

/* ---------------------------- Full-screen ---------------------------- */

div.full-height, section.full-height, article.full-height {
	min-height: 100%;
	margin: 0;
}

div.height-100, section.height-100, article.height-100 {
	height: 100%;
}

@media (max-width: 991px) {
	div.full-height, section.full-height, article.full-height {
		min-height: 400px;
	}
}

/* ---------------------------- /Full-screen ---------------------------- */

div.lazy, section.lazy, article.lazy {
	background-color: #434343 !important;
}

/* /////// */

div.zebra, section.zebra, article.zebra {
	background-color: #fff;
	color: #000;
}

div.zebra:nth-child(odd), section.zebra:nth-child(odd), article.zebra:nth-child(odd) {
	background-color: #163A51;
	color: #fff;
}

div.zebra:nth-child(odd) {
	h1, h2, h3, h4, p {
		color: #fff;
	}
}

section.zebra:nth-child(odd) {
	h1, h2, h3, h4, p {
		color: #fff;
	}
}

article.zebra:nth-child(odd) {
	h1, h2, h3, h4, p {
		color: #fff;
	}
}

div.page, section.page, article.page {
	padding: 70px 0;
}

div.page.no-padding, section.page.no-padding, article.page.no-padding {
	padding: 0;
}

/* carousel */

.carousel {
	margin-top: -70px;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.carousel .item {
	height: 600px;
	&.slide {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.slide_caption {
		position: absolute;
		bottom: 10%;
		width: 100%;
		z-index: 2;
		p {
			font-size: 40px;
			text-align: center;
			color: #fff;
		}
	}
}

.slick-dots {
	bottom: 16px;
	z-index: 2;
	li {
		&.slick-active button:before {
			opacity: .75;
			color: #ff9c10;
		}
		button:before {
			color: #fff;
		}
	}
}

/* images */

.carousel .item.slide {
	&.slide1 {
		background-image: url(../images/banners/bg1.jpg);
	}
	&.slide2 {
		background-image: url(../images/banners/bg2.jpg);
	}
	&.slide3 {
		background-image: url(../images/banners/bg3.jpg);
	}
}

/* /images */

/* carousel */

div.row > {
	h1, h2, h3, h4, p {
		padding: 0 15px;
	}
}

h1 {
	font-size: 275%;
	color: #212121;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

p {
	font-size: 115%;
	color: #212121;
	font-weight: 300;
	&.line-height-150 {
		line-height: 150%;
	}
}

.wrapper .container h1 {
	margin-bottom: 50px;
}

span {
	&.highlight {
		font-size: 125%;
		text-transform: uppercase;
		font-weight: bold;
	}
	&.colored {
		color: #163A51;
	}
	&.colored2 {
		color: #22AED1;
	}
	&.colored3 {
		color: #ff9c10;
	}
}

h2.highlight {
	padding: 20px 5px;
	text-transform: uppercase;
	font-size: 275%;
}

@media (max-width: 991px) {
	h2.highlight {
		font-size: 175%;
	}
}

a.stretch {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* Flippers */

#page_cards {
	div {
		padding: 0;
	}
	.row {
		margin: 0;
	}
}

.tile-container {
	margin-top: 15px;
	.flip-container {
		max-width: 150px;
		margin-left: auto;
		margin-right: auto;
	}
}

.flipper {
	.front > a, .back > a {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	background-size: cover;
	img {
		width: 100%;
		max-height: 300px;
	}
}

.flipper-height {
	height: 480px;
}

.flipper {
	p {
		color: #fff;
	}
	&.color_1 {
		background: #ff9c10;
		p {
			color: #000;
		}
	}
	&.color_2 {
		background: #000;
	}
	&.color_3 {
		background: #ddd;
		p {
			color: #000;
		}
	}
}

/* Iterators */

.iterator > div {
	background-color: #eee;
	width: 100%;
	height: 200px;
	transition: ease-in-out 0.3s;
	&.hover {
		background-color: #ff9c10;
	}
}

/* /Iterators */

/* Buttons */

.button {
	&.sliding_bg {
		color: #31302B;
		background: #FFF;
		padding: 12px 17px;
		border: 3px solid #31302B;
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 2px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		box-shadow: inset 0 0 0 0 #31302B;
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
		&:hover {
			box-shadow: inset 0 100px 0 0 #31302B;
			color: #FFF;
		}
	}
}

/* /Buttons */

/* Accordion */

.accordion-container {
	margin-top: 30px;
	p {
		color: #000;
	}
}

.accordion-item {
	position: relative;
	a {
		color: inherit;
		text-decoration: none;
		&:focus {
			color: inherit;
			text-decoration: none;
		}
	}
}

.accordion-container .accordion-item .accordion-item-content p {
	font-size: 70%;
}

/* /Accordion */

/* Halfscreen container */

.half-screen-container {
	position: relative;
	.half-screen {
		width: 50%;
		height: 200px;
		padding: 0;

		&.first {
			position: absolute;
			z-index: 1;
			> div {
				background-color: #212121;
				border-right-width: 2px;
				&:hover {
					background-color: #ff9c10;
				}
			}
		}
		&.second {
			position: relative;
			margin-left: auto;
			> div {
				position: relative;
				border-left-width: 2px;
				background-color: #212121;
				&:hover {
					background-color: #ff9c10;
				}
			}
		}

		> div {
			width: 100%;
			height: 100%;
			position: relative;
			padding: 15px 20px;
			border: solid 4px #ff9c10;
			-webkit-transition: ease-in-out 0.3s;
			-moz-transition: ease-in-out 0.3s;
			-ms-transition: ease-in-out 0.3s;
			-o-transition: ease-in-out 0.3s;
			transition: ease-in-out 0.3s;

			&:hover p > .fa {
				width: 30px;
				opacity: 1;
			}
		}
		p {
			margin: 0;
			color: #fff;
			font-size: 200%;
			/*text-shadow: 1px 1px #212121;*/
			z-index: 1;
			> .fa {
				width: 0;
				opacity: 0;
				margin-left: 10px;
				-webkit-transition: ease-in-out 0.3s;
				-moz-transition: ease-in-out 0.3s;
				-ms-transition: ease-in-out 0.3s;
				-o-transition: ease-in-out 0.3s;
				transition: ease-in-out 0.3s;
			}
		}
		a.stretch {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}

@media (max-width: 991px) {
	.half-screen-container {
		padding: 0 15px;
		.half-screen {
			width: 100%;
			height: 100px;
			&.first {
				position: relative;
				> div {
					width: 100%;
					webkit-animation-name: none !important;
					animation-name: none !important;
					border-width: 2px 2px 1px 2px;
				}
			}
			&.second > div {
				width: 100%;
				border-width: 1px 2px 2px 2px;
			}
		}
	}
}

/* /Halfscreen container */

/* Halfscreen header */

.header-section-container {
	position: relative;
	overflow: hidden;
	.half-screen {
		width: 50%;
		height: 400px;
		padding: 0;

		&.first {
			width: 100%;
			position: absolute;
			z-index: 1;
			> div {
				background-color: #ff9c10;
			}
			p {
				font-size: 400%;
			}
		}
		&.second {
			position: relative;
			margin-left: auto;
			> div {
				position: relative;
				background-color: #fff;
			}
			p {
				font-size: 140%;
				color: #212121;
			}
		}

		> div {
			position: relative;
			width: 100%;
			height: 100%;
			padding: 25px 40px;
			-webkit-transition: ease-in-out 0.3s;
			-moz-transition: ease-in-out 0.3s;
			-ms-transition: ease-in-out 0.3s;
			-o-transition: ease-in-out 0.3s;
			transition: ease-in-out 0.3s;
		}
		p {
			color: #fff;
			font-size: 200%;
			line-height: 1;
			/*text-shadow: 1px 1px #212121;*/
			z-index: 1;
		}
		a.stretch {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}

@media (max-width: 991px) {
	.header-section-container .half-screen {
		height: 300px;

		&.first {
			position: relative;
			width: 100%;
			max-width: 100%;
			height: 150px;
			> div {
				width: 100%;
				webkit-animation-name: none !important;
				animation-name: none !important;
				transitionDuration: 0;
			}
		}
		&.second {
			width: 100%;
			height: auto;
			> div {
				width: 100%;
				webkit-animation-name: none !important;
				animation-name: none !important;
				float: none;
			}
			p {
				font-size: 120%;
			}
		}
	}
}

/* /Halfscreen header */

/* ------------- CUSTOM INPUT ELEMENTS ------------- */

/* Input range plugin */

.input-container.custom-range {
	.irs-from, .irs-to, .irs-single {
		background: #ed5565;

		&:after {
			border-top-color: #ed5565;
		}
	}
}

/* /Input range plugin */

/* The switch - the box around the slider */
.switch-container {
	display: inline-block;
	vertical-align: middle;

	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 14px;
		margin: 0;
	}

	/* Hide default HTML checkbox */
	.switch input {
		display: none;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 6px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #2196F3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:disabled + .slider {
		cursor: default;
	}

	//colored
	&.red {
		input:checked + .slider {
			background-color: #e72f0b;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px #e72f0b;
		}
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
}

/* ------------- CUSTOM CHARTS ------------- */
.chart-half-screen {
	&.full-screen {
		border: none;

		.cs-chart-container {
			@media (min-width: 992px) {
				& {
					white-space: nowrap;
				}

				& > div {
					display: inline-block;
					vertical-align: top;
					white-space: normal;
				}

				.chart-legend {
					width: 30%;
					margin-right: 5%;
				}

				.doughnut-chart {
					width: 60%;
					margin-left: 5%;
				}
			}

			@media (max-width: 992px) {
				& > div {
					display: block;
					width: 100%;
				}
			}
		}
	}

	@media (min-width: 992px) {
		&:first-child {
			padding-right: 5%;
		}
		&:last-child {
			padding-left: 5%;
		}

		&:nth-child(odd) {
			border-right: solid 1px #ddd;
		}
		&:nth-child(even) {
			border-left: solid 1px #ddd;
		}
	}

	@media (max-width: 991px) {
		padding-bottom: 25px;
		border-bottom: solid 2px #ddd;

		& {
			margin-bottom: 25px;
		}
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.cs-chart-container {
	position: relative;

	.chart-legend {
		margin-bottom: 25px;
		font-size: 14px;

		.ct {
			.ct-bod, .ct-sqr, .ct-label {
				display: inline-block;
				vertical-align: middle;
			}

			.ct-sqr {
				width: 16px;
				height: 16px;
				margin-right: 5px;
			}
			.ct-bod {
				margin-right: 15px;
				margin-bottom: 5px;

				&:last-child {
					margin-right: 0;
				}
			}

			@media (max-width: 500px) {
				.ct-bod {
					display: block;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		@media (min-width: 992px) {
			min-height: 100px;
		}
	}

	/* DOUGHNUT CHART */
	.doughnut-chart {
		position: relative;
		width: 100%;
		max-width: 500px;
		//height: 450px;
		margin: 0 auto;
		.doughnutSummary {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #d5d5d5;
			text-align: center;
			//text-shadow: 0 -1px 0 #111;
			cursor: default;
		}
		.doughnutSummaryTitle {
			position: absolute;
			top: 50%;
			width: 100%;
			margin: -27% 0 0 0;
			font-size: 22px;
			letter-spacing: .06em;
			color: inherit;
			font-weight: inherit;
		}
		.doughnutSummaryNumber {
			position: absolute;
			top: 50%;
			width: 100%;
			margin: -5% 0 0 0;
			font-size: 55px;
			color: inherit;
			font-weight: inherit;
		}

		g path:hover {
			opacity: 0.65;
		}

		@media (max-width: 991px) {
			& {
				max-width: 400px;
			}
		}

		@media (max-width: 767px) {
			.doughnutSummaryTitle {
				margin-top: -23%;
				font-size: 20px;
			}
			.doughnutSummaryNumber {
				margin-top: -5%;
				font-size: 40px;
			}
		}

		@media (max-width: 399px) {
			.doughnutSummaryTitle {
				margin-top: -19%;
				font-size: 18px;
			}
			.doughnutSummaryNumber {
				margin-top: 0;
				font-size: 32px;
			}
		}

		&.small {
			max-width: 300px;

			.doughnutSummaryTitle {
				margin-top: -24%;
				font-size: 18px;
			}
			.doughnutSummaryNumber {
				font-size: 42px;
			}

			@media (max-width: 991px) {
				& {
					max-width: 300px;
				}
			}

			@media (max-width: 767px) {
				.doughnutSummaryTitle {
					margin-top: -26%;
					font-size: 16px;
				}
				.doughnutSummaryNumber {
					margin-top: -5%;
					font-size: 38px;
				}
			}

			@media (max-width: 399px) {
				.doughnutSummaryTitle {
					margin-top: -16%;
					font-size: 18px;
				}
				.doughnutSummaryNumber {
					margin-top: 0;
					font-size: 32px;
				}
			}
		}
	}
	/* /DOUGHNUT CHART */
}

/* MISC */
.doughnutTip {
	position: absolute;
	min-width: 30px;
	max-width: 300px;
	padding: 5px 15px;
	border-radius: 1px;
	background: rgba(0, 0, 0, .8);
	color: #ddd;
	font-size: 17px;
	text-shadow: 0 1px 0 #000;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3;
	letter-spacing: .06em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	pointer-events: none;

	&::after {
		position: absolute;
		left: 50%;
		bottom: -6px;
		content: "";
		height: 0;
		margin: 0 0 0 -6px;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		border-top: 6px solid rgba(0, 0, 0, .7);
		line-height: 0;
	}

	&.stylized {
		padding: 15px 20px;
		background-color: #337ab7;
		border: solid 1px #fff;
		border-radius: 0;
		font-size: 100%;
		color: #fff;
		text-shadow: none;

		&::after {
			bottom: -7px;
			margin: 0 0 0 -7px;
			border-top: 6px solid #fff;
		}
	}
}

/* HORIZONTAL BAR GRAPH */

/* Mixings &  Variables */
$bar-graph-barHeight: 20px;
$bar-graph-barHeight-thicc: 36px;
$bar-graph-borders: #212121;
$bar-graph-primary: #e72f0b;
$bar-graph-primary_hover: #ff310b;
$bar-graph-background: #ddd;
$bar-graph-indent: 0; //4%
$bar-graph-border-radius: 0; //2px;

.horizontal-bar-wrap {
	margin: 0 auto;
	//padding: 50px;
	max-width: 1200px;

	.title {
		font-size: 14px;

		@media (max-width: 767px) {
			font-size: 12px;
		}

		& > span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	@mixin transition($property) {
		-webkit-transition: $property;
		-moz-transition: $property;
		-o-transition: $property;
		transition: $property
	}

	@mixin transform($degree) {
		transform: rotate($degree);
		-ms-transform: rotate($degree);
		-webkit-transform: rotate($degree);
	}

	.clearfix,
	.clearfix:before,
	.clearfix:after {
		display: block;
		content: " ";
		clear: both;
		zoom: 1;
	}

	/* Bar Graph Class */

	.barGraph {
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}

	.graph {
		position: relative;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: calc(100% - #{$bar-graph-indent});
		left: $bar-graph-indent;

		&-barBack {
			border-radius: $bar-graph-border-radius;
			background: $bar-graph-background;
			margin-bottom: 10px;
			display: block;
		}

		&-bar {
			background-color: $bar-graph-primary;
			@include transition(all 1s ease-out);
			border-radius: $bar-graph-border-radius;
			cursor: pointer;
			position: relative;
			z-index: 1;
			display: block;
			height: $bar-graph-barHeight;
			width: 0;
			//color: #fff;
			color: darken($bar-graph-primary, 30%);

			&:hover {
				@include transition(all 0.5s ease);
				background: $bar-graph-primary_hover;
			}

			//colored

			&.yellow {
				background-color: #ffd900;
				color: darken(#ffd900, 30%);

				&:hover {
					background: #ffef01;
				}
			}

			&.green {
				background-color: #59d05f;
				color: darken(#59d05f, 30%);

				&:hover {
					background: #5be461;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}

			&::after {
				position: absolute;
				content: attr(data-percentage);
				display: none;

				font-size: 12px;
				border-radius: 4px;
				background: rgba(0, 0, 0, 0.5);
				color: #fff;

				line-height: $bar-graph-barHeight;
				height: $bar-graph-barHeight;
				padding: 0 10px;

				margin-left: 5px;
				left: 100%;
				top: 0;
			}

			&:hover:after {
				display: block;
			}

			&.thicc {
				height: $bar-graph-barHeight-thicc;

				&::after {
					line-height: $bar-graph-barHeight-thicc;
					height: $bar-graph-barHeight-thicc;
				}
			}
		}

		&-legend {
			position: absolute;
			margin-right: 10px;
			left: 10px; //-40px;
			z-index: 2;
			top: 50%;

			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}

	&.multiple {
		.graph {
			&-bar {
				float: left;

				&:after {
					margin-left: 0;
					left: auto;
					right: 0;
					border-top-right-radius: 0;
					-webkit-border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					-webkit-border-bottom-right-radius: 0;
				}
			}
			&-legend {
				left: 10px;
			}
		}
	}

	/* Lines for Charts */

	.lines {
		$bar-graph-bars: fade($bar-graph-borders, 40%);
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 0;
		left: 0;
		top: 0;

		&-horz {
			border-bottom: 1px dashed $bar-graph-bars;
			position: absolute;
			width: 100%;
			height: 0px;

			&:nth-of-type(1) {
				top: 20%;
			}
			&:nth-of-type(2) {
				top: 40%;
			}
			&:nth-of-type(3) {
				top: 60%;
			}
			&:nth-of-type(4) {
				top: 80%;
			}
		}

		&-vert {
			border-right: 1px dashed $bar-graph-bars;
			position: absolute;
			height: 100%;
			width: 1px;

			&:nth-of-type(5) {
				left: 20%;
			}
			&:nth-of-type(6) {
				left: 40%;
			}
			&:nth-of-type(7) {
				left: 60%;
			}
			&:nth-of-type(8) {
				left: 80%;
			}
		}
	}

	/* Line Graph */
	.lineChart {
		@include transition(all 0.5s ease);
		border-radius: 3px;
		border: 2px solid fade($bar-graph-borders, 45%);
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 300px;

		svg {
			position: absolute;
			z-index: 999;
		}

		circle {
			@include transition(all 0.5s ease);
			position: relative;
			cursor: pointer;
			stroke: $bar-graph-primary;
			stroke-width: 3;
			fill: $bar-graph-primary;

			&:hover {
				stroke-width: 8;
			}
		}

		line {
			stroke: $bar-graph-borders;
			stroke-width: 4;
		}

		&-lines {
		}

		&-points {
		}
	}

	.trend line {
		stroke: rgba(204, 51, 51, 0.8);
	}

	.legend {
		margin-bottom: 10px;

		.legend-item {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			.little_square, span {
				display: inline-block;
				vertical-align: middle;
			}
			.little_square {
				width: 16px;
				height: 16px;
				background-color: #ddd;
				margin-right: 5px;
			}
		}
	}
}

/* Sticky-table */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	//margin: 3em 0;
	width: 100%;

	.sticky-thead,
	.sticky-col,
	.sticky-intersect {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .125s ease-in-out;
		z-index: 50;
		width: auto; /* Prevent table from stretching to full size */
	}

	.sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0, 0, 0, .125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}

	.sticky-intersect {
		opacity: 1;
		z-index: 150;
	}

	.sticky-intersect th {
		background-color: #666;
		color: #eee;
	}

	td, th {
		box-sizing: border-box;
	}

	/* Not needed for sticky header/column functionality */
	td.user-name {
		text-transform: capitalize;
	}

	&.overflow-y {
		overflow-y: auto;
		max-height: 50vh;
	}

	/* Component styles */
	.component {
		line-height: 1.5em;
		margin: 0 auto;
		padding: 2em 0 3em;
		width: 90%;
		max-width: 1000px;
		overflow: hidden;
	}

	.component .filler {
		color: #d3d3d3;
	}

	table {
		border-collapse: collapse;
		margin-bottom: 3em;
		width: 100%;
		background: #fff;

		&, &.table-hover {
			& > thead > tr,
			& > tbody > tr {
				&, &:hover {
					& > th, & > td {
						border: none !important;
					}
				}
				&:hover > td, &.active > td {
					background-color: #dff8ff !important;
					border: none !important;
				}
				&:hover > th, &.active > th {
					background-color: #30bf8e;
				}
			}
		}

		td, th {
			//padding: 0.75em 1.5em;
			padding: 8px;
			border: none;
			text-align: left;

			&.text-center {
				text-align: center;
			}
		}

		td.err {
			background-color: #e992b9;
			color: #fff;
			font-size: 0.75em;
			text-align: center;
			line-height: 1;
		}

		th {
			background-color: #31bc86;
			//font-weight: bold;
			color: #fff;
			font-weight: normal;
			text-transform: uppercase;
			white-space: nowrap;
		}

		tbody th {
			background-color: #2ea879;
		}

		tbody tr:nth-child(2n-1) {
			background-color: #f5f5f5;
			transition: all .125s ease-in-out;
		}

		tbody tr:hover {
			background-color: rgba(129, 208, 177, .3);
		}

		span {
			&.inline-block {
				display: inline-block;
				vertical-align: middle;
			}

			.icon {
				width: 24px;
				height: 24px;
				margin: 0 3px;

				&.small {
					width: 16px;
					height: 16px;
				}
			}
		}
	}
}

/* /Sticky table */

/* -------------------------------------------------------- /CONTENT -------------------------------------------------------- */

/* Nicescroll */

.nicescroll-rails {
	div, > div {
		width: 4px !important;
		transition: ease-in-out 0.3s;
	}
	&:hover, &:active {
		width: 8px !important;
	}
	> div {
		&:hover, &:active {
			width: 8px !important;
		}
	}
}

/* -------------------------------------------------------- FOOTER -------------------------------------------------------- */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #212121;
}

/* -------------------------------------------------------- /FOOTER -------------------------------------------------------- */